<h1>Create users</h1>
<form (ngSubmit)="createUser($event)">
<label>
  <span>Name:</span><input required type="text" name="userName" [(ngModel)]="userName">
</label>
<label>
  <span>Email:</span><input required type="text" name="userMail" [(ngModel)]="userMail">
</label>
<label>
  <span>Active:</span><input type="checkbox" name="userActive" [(ngModel)]="userActive">
</label>
<label >
  <select required name="category" [(ngModel)]="category">
    <option value="">Select role</option>
    <option *ngFor="let r of categories" [value]="r.item">
      {{ r.item }}
    </option>
  </select>
</label>
  <button type="submit" class="btn">Create user</button>
</form>
